<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<nav class="navbar navbar-expand" style="background-color: #c1d6fa;" th:fragment="navbarra">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}">
            <h1>GTICS L8</h1>
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/'}">Lista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/fav'}">Ver mis películas favoritas</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

</body>
</html>