<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
          crossorigin="anonymous">
    <title>Technician</title>
</head>
<body>

<div th:insert="~{fragments/general.html :: navbarra}"></div>

<div class="container">
    <div style="text-align: center;"><h1>Lista de las películas vistas en tiempo real</h1></div>

    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <div th:if="${err != null}" th:text="${err}" class="alert alert-danger" role="alert"></div>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Popularity</th>
            <th>Title</th>
            <th>Overview</th>
            <th>Release Date</th>
            <th></th>

        </tr>
        <tr th:each="movie,obj: ${listaPeliculas}">
            <td th:text="${obj.index + 1}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.popularity}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.overview}"></td>
            <td th:text="${movie.release_date}"></td>


        </tr>
    </table>
</div>

</body>
</html>